.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EC7B14;
    color: #f4f4f4;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-block: 1rem;
    font-weight: bold;
    font-style: italic;
}